body{
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.quartz{
  background-color: #00000087;
  box-shadow: 10px 15px 45px;
  width: 65%;
  height: 65%;
  margin:auto;
  margin-top:5%;
  margin-bottom: 5%;
  padding-top: 3%;
  padding-bottom: 5%;
  border-radius: 35px;
}

header > h1{
  color: #0BFF0B;
  text-align: center;
  font-size: 40px;
  font-family: arial;
  margin-top: 0;
  margin-bottom: 0;

}

.logo-lim{
  display: block;
  width: 17%;
  margin:auto;

}

.button-bar{
  background-color: #0BFF0B;
  background-blend-mode: normal;
  border-radius: 15px;
  width: auto;
  height: 45px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  margin-top: 0;
  text-align:center;
}

button{
  margin-top: 1%;
  margin-bottom: 1%
}

.veicle-info{
  color: white;
  margin-left: 5%;
  margin-bottom: 3%;
  font-family: helvetica;

}

.nome-veicolo{
  display: inline-block;
  font-size: 25px;
  margin-top: 10px;

}

strong{
  font-weight: bold;
  font-family: arial;
  text-decoration: underline;
}

.posizione-veicolo{
  display: block;
  font-size: 18px;
  font-style: oblique;
  margin-top: 4px;

}

.stato-veicolo{
  display: block;
  font-size: 15px;
  margin-top: 2px

}

#num-one{
  background-color: #ffe03b;
  height: 25px;
  margin-right: 64%;
  border-radius: 7px;

}

#num-due{
  background-color: #23c423;
  height: 25px;
  margin-right: 10%;
  border-radius: 7px;

}

#num-tre{
  background-color: #db2b2b;
  height: 25px;
  margin-right: 80%;
  border-radius: 7px;

}

.credits{
  text-align: center;
  font-size: 10px;
  color: white;
  font-style: oblique;
  font-family: georgia;
}
